Examples of simple calculation:

In [1]:
x = 250
y = 300
print(x+y)

550

In [1]:
x = 4
y = 2
print(x % y)

0

In [2]:
x = 10
y = 3
z = x*y
print(z)

30

Casting to convert integer to string:

In [2]:
x = 5
y = 2
x = str(x)
y = str(y)
print(x+y)

52

Counting the characters in a string:

In [4]:
text = "Universe"
print(len(text))

8

Converting a string to upper case:

In [6]:
string = "I think today is going to be very cold outside."
print(string.upper())

I THINK TODAY IS GOING TO BE VERY COLD OUTSIDE.

Creating variables with strings:

In [6]:
x = "Hello"
y = "world!!"
print(x,y)

Hello world!!

Example of use of booleans:

In [8]:
print(1 > 2)
print(2 == 2)
print(1 < 2)

False
True
True

Example of conditional statements:

In [2]:
x = 300
y = 200
result = x+y 
if result > 400: 
    print("Result is bigger than 400.")
else: 
    print("Result is smaller than 400.")

Result is bigger than 400.

Example of using a for loop to print numbers up to a number:

In [7]:
for i in range (5): 
    print(i)

0
1
2
3
4

Example of using a for loop with conditionals and a list:

In [7]:
numbers = [15,33,2,45,7,8,76,3,44,5]
smaller_numbers = []
for number in numbers: 
    if number < 10: 
        smaller_numbers.append(number)
print(smaller_numbers)

[2, 7, 8, 3, 5]